#####################################
# Some variables:
SET s <start_replicate>
SET f <end_replicate>
SET u <final_update>
SET d <base_experiment_directory>
#####################################

# For each treatment (will be filled out by script)
FOREACH t <treatments>
  FORRANGE i $s $f
    # For each trial:
    # Do some cleaning
    PURGE_BATCH 0   # Final dominant
    # Load final population into batch 0
    SET_BATCH 0
    LOAD $d/$t__rep_$i/data/detail-$u.spop
    # Filter batch 0 down to only final dominant organism
    FIND_GENOTYPE num_cpus
    PRINT $t__rep_$i/final_dom
  END
END
